<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/static/styles.css}">
  <title>Enviar parametros del request</title>
</head>

<body>
  <h1>Enviar parametros del request HTTP GET - URL</h1>
  <ul>
    <li><a th:href="@{/params/string(texto='Hola luis')}">@{/params/string(texto='Hola luis')}</a></li>
    <li><a th:href="@{/params/string(texto='Hola')}">@{/params/string(texto='Hola')}</a></li>
    <li><a th:href="@{/params/mix-params(saludo='Bienvenido',numero=7)}">'Bienvenido',numero=7</a></li>
  </ul>

</body>

</html>